###########################################################################################################
###################################  AUTHORIZATION/AUTHENTICATION SETUP  ##################################
###########################################################################################################

# ADMIN_USERNAME:            Username of the default admin user created automatically at the first time
#                            the Grafana is instantiated
#                            default value: admin
ADMIN_USERNAME=admin

# ADMIN_PASSWORD:            Password of the default admin user created automatically at the first
#                            time the Grafana is instatiated
#                            default value: admin
ADMIN_PASSWORD=admin

###########################################################################################################
###############################################  SMTP SETUP  ##############################################
###########################################################################################################

# GF_SMTP_ENABLED:           Enable SMTP server settings.
#                            default value: false
GF_SMTP_ENABLED=false

# GF_SMTP_HOST:              Host where the SMTP server is allocated.
#                            default value: smtp.gmail.com:465
GF_SMTP_HOST=smtp.gmail.com:465

# GF_SMTP_USER:              Registered email on the SMTP server. It will be used to send emals when
#                            an alarm is detected.
#                            default value: grafana@test.com.
GF_SMTP_USER=grafana@test.com

# GF_SMTP_PASSWORD:          Password for the email registered on the SMTP server.
#                            default value: secret
GF_SMTP_PASSWORD=secret

###########################################################################################################
##############################################  STORAGE DATA  #############################################
###########################################################################################################

# DATA_RETENTION:            Time the data remained stored in database.
#                            default value (15 days): 15d
DATA_RETENTION=15d

###########################################################################################################
###########################################  DATA BACKUP SETUP ############################################
###########################################################################################################

# LOCAL_TARGET:              Defined the path where the generated backup will be stored locally.
#                            example value: /path/to/backup
LOCAL_TARGET=/path/to/backup

# CLOUD_TARGET:              Define a URL and the path where the backup will be stored in the Google Drive or AWS S3 cloud.
#                            example value AWS S3: s3://s3.<bucket-region>.amazonaws.com/<bucket-name>[/<path>]
#                            example value Google Drive: gdocs://youremail@gmail.com[/<path>]
# CLOUD_TARGET=

# CLOUD_ACCESS_KEY_ID:       Client Id for access Google Driver or AWS S3 service responsible to store backup data.
#                            example value: AKIAYXGARMBIICAV23FE
# CLOUD_ACCESS_KEY_ID=

# CLOUD_SECRET_ACCESS_KEY:   Client Secret for access Google Driver or S3 service responsible to store backup data.
#                            example value: J/YXk2xMaJQugb+vYm+c/TbTz+LpMnkxucdfv/Rh
# CLOUD_SECRET_ACCESS_KEY=

# RESTORE_TARGET:            Define the target used to restore the backup.
#                            example value: LOCAL | GOOGLE_DRIVE | AWS
RESTORE_TARGET=LOCAL

# BACKUP_DATA_RETENTION:     Time the data backup will remain stored.
#                            Default value (15 days): 15D
BACKUP_DATA_RETENTION=15D