.DS_Store

# IDE
.idea

# Environment variables file
.env
.env.monitor

# Certificates and keys directories
.certs
*.pem
*.crt
*.key
*.csr
config/ocariot/vault/.tokens
config/ocariot/vault/.keys
create-self-signed-certs.sh
keys